<script>
	export let segment;
</script>

<style>
	main {
		position: relative;
		/* max-width: 100%; */
		background-color: white;
		/* padding: 2em; */
		margin: 1em 2em;
		box-sizing: border-box;
	}
</style>

<!-- <Nav {segment}/> -->

<main>
	<slot></slot>
</main>