<script>
    import { afterUpdate, onMount } from 'svelte';
    import ProgressBar from "progressbar.js";

    import { 
        mainStore, 
        docTypesAndVendors,
        USE_UAT, 
        pageName, 
        objectType,
        bulkPortfolio,
        GET_PROPERTIES_URL,
        GET_DOC_TYPES_AND_VENDORS_URL,
        UPLOAD_DOC_URL,
        CREATE_PROP_DOC_URL,
        uploadedFiles} from "../stores";

    import { getContentType } from "../helpers";
    
    import LandingPage from "../components/pages/LandingPage.svelte";
	import SelectionPage from "../components/pages/SelectionPage.svelte";
    import UploadPage from "../components/pages/UploadPage.svelte";
    import AlertDialog from '../components/dialogs/AlertDialog.svelte';
    import SuccessPage from '../components/pages/SuccessPage.svelte';
    import NoObjectsPage from '../components/pages/NoObjectsPage.svelte';
    
    let alert;
    let uploadMessage;

    let noObjectsMessage;
    
    let columns;

    /* Progress bar from https://kimmobrunfeldt.github.io/progressbar.js/
     * This is the progress bar that shows on the loading page after the user
     * has clicked submit
     */
    let pbar;
    afterUpdate(() => {
        if ($pageName === "loading") {
            let container = document.getElementById("pbar_container");
            pbar = new ProgressBar.Circle(container, {
                color: '#2196f3',
                strokeWidth: 10,
                trailWidth: 10,
                easing: 'easeInOut',
                duration: 1400,
                text: {
                    autoStyleContainer: false
                },
                from: { color: '#2196f3', width: 10 },
                to: { color: '#1ddb4f', width: 10 },
                
                step: function(state, circle) {
                    circle.path.setAttribute('stroke', state.color);
                    circle.path.setAttribute('stroke-width', state.width);

                    var value = Math.round(circle.value() * 100);
                    circle.setText(`${value}%`);
                }
            });
        }
    });

    // Updates the progressbar with the given value
    function updatePbar(value) {
        pbar.animate(value);
    }

    /* Critical function that sets various crucial variables used
     * throughout the application.
     */
    onMount(async () => {
        // When running the application in a non-test setting, the url will have the
        // following structure:
        // https://d3hhfuw1v3hcxw.cloudfront.net/?id=<bulk portfolio id>&name=<bulk portfolio name>uat=<True/False>
        
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        let bulkPortfolioId = window.location.href === "http://localhost:3000/" || urlParams.get("id") === null
                ? "a0B0R000002Hqy7" : urlParams.get("id");
        
        let bulkPortfolioName = window.location.href === "http://localhost:3000/" || urlParams.get("name") === null
                ? "Example New Construction" : decodeURIComponent(urlParams.get("name")).replaceAll("+", " ");
        
        $bulkPortfolio = {id: bulkPortfolioId, name: bulkPortfolioName};
        console.log(`Bulk Portfolio: ${JSON.stringify($bulkPortfolio)}`);

        USE_UAT.set(window.location.href === "http://localhost:3000/" || urlParams.get("uat") === null
                ? true : urlParams.get("uat").toLocaleLowerCase() === "true");
        console.log(`Use UAT: ${$USE_UAT}`);

        let stage = $USE_UAT ? "dev" : "prod";
        $GET_PROPERTIES_URL = `https://3c12ob1awc.execute-api.us-east-1.amazonaws.com/${stage}/get-objects`;
        $GET_DOC_TYPES_AND_VENDORS_URL = `https://3c12ob1awc.execute-api.us-east-1.amazonaws.com/${stage}/doctypes`;
        $UPLOAD_DOC_URL = `https://3c12ob1awc.execute-api.us-east-1.amazonaws.com/${stage}/upload?uat=${$USE_UAT ? 'True' : 'False'}&key=`;
        $CREATE_PROP_DOC_URL = `https://3c12ob1awc.execute-api.us-east-1.amazonaws.com/${stage}/create-property-document`;

        // After all variables are set, set the page to the landing page
        pageName.set("landing");
    });

    let vendorValue;
    let vendorValueName;
    
    // Gets the selected properties/jobs and set their indexes
    function getSelected() { 
        let selected = $mainStore.filter(p => p.checked)
        for (let i = 0; i < selected.length; i++) selected.index = i; 
        return selected;
    }

    let progress = 0;

    /* Navigate to the specified page.
     * If the page is the loading page, wait for all files 
     * to be uploaded, and all property documents to be created.
     */
	async function toPage(event) {
        if ($pageName === "loading") {
            if (await uploadFiles(event)) {
                await new Promise(r => setTimeout(r, 1750));
                pageName.set("success");
            }
        }
    }

    // Upload the selected files to the selected properties/jobs
    async function uploadFiles(event) {
        let timeStamp = Date.now();
        let basePath = `${$UPLOAD_DOC_URL}${$bulkPortfolio["name"].replaceAll(" ", "+")}/${timeStamp}`;
        let selected = getSelected();

        // Upload each item and update the progress bar accordingly
        for (let item of selected) {
            for (let i = 0; i < $uploadedFiles.length; i++) {
                let loaded = await onLoad(item, $uploadedFiles[i], basePath, timeStamp);
                if (loaded) {
                    progress += 1 / (selected.length * $uploadedFiles.length);
                    updatePbar(progress)
                }
            }
        }
        console.log(`Uploading ${$uploadedFiles.length} files to https://homeworx-${$USE_UAT ? 'dev' : 'prod'}.s3.amazonaws.com/${$bulkPortfolio["name"]}, and creating property documents.`);
        return progress >= 1;
    }

    /* This is where the magic happens!
     * This function is responsible for loading the selected files,
     * uploading them to s3 via a request to the API Gateway upload_document endpoint,
     * and then creating the corresponding property document in HWX via  a request to the
     * API Gateway create_property_document endpoint.
     */
    async function onLoad(item, file, base, time) {
        // First, we set the necessary fields for the new property document
        let propertyDocument = {
            "Property__c": $objectType == "jobs" ? item.Property__c : item.Id,
            "Document_Group__c": file.docGroup,
            "Document_Type__c": file.docType,
            "Vendor__c": file.vendor.Id,
            "File_Name__c": file.name
        };

        if ($objectType == "jobs") {
            propertyDocument["Job_or_Order__c"] = item.Id;
        }

        // Next, we set the file type, upload url, and content type based on the file name
        let fileType = file.name.split(".").pop().toLowerCase();
        let uploadUrl = `${base}__${file.name}`;
        let contentType = getContentType(fileType);

        // Then we read the file data based on its type
        let fileReader = new FileReader();
        if (fileType !== "txt") {
            fileReader.readAsDataURL(file);
        }
        else {
            fileReader.readAsText(file);
        }

        let filePath;

        // Finally, we return a promise containing two posts:
        // 1st: We post the file data to the upload document endpoint
        // 2nd: We post the property document object to the create property doc endpoint
        return new Promise((resolve, reject) => {
            fileReader.onload = async function (e) {  
                // Step 1  
                let dataUrl = e.target.result;
                let response = await fetch(uploadUrl, {
                    method: "POST",
                    headers: {
                        "Content-Type": contentType
                    },
                    body: dataUrl,
                    mode: "cors"
                });
                
                let result = await response.json();
                if (result.statusCode === 200) {
                    filePath = JSON.parse(result.body).file_path;
                    console.log(`Successfully uploaded file: ${file.name}, ${file.docType}, ${filePath}`);
                }
                else {
                    uploadMessage = `There was an error uploading file ${file.name}: ${result.errorMessage}`;
                    pageName.set("upload");
                    alert.open();
                    reject(new DOMException(uploadMessage));
                    return;
                }

                // Step 2
                response = await fetch($CREATE_PROP_DOC_URL, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        object: propertyDocument,
                        uat: $USE_UAT,
                        filePath: filePath
                    }),
                    mode: "cors"
                });

                result = await response.json();
                if (result.statusCode === 200) {
                    console.log(`Successfully created property document ${file.name} for ${item.Name}`);
                    resolve(true);
                }
                else {
                    let errorMessage = result.statusCode === 401 ? JSON.parse(result.body).error.errorMessage : result.errorMessage;
                    uploadMessage = `There was an error creating property document for ${item.Name}: ${errorMessage}`;
                    pageName.set("upload");
                    alert.open();
                    reject(new DOMException(uploadMessage));
                }
            }
        });
    }
</script>

<style>
    :global(button) {
        cursor: pointer;
    }

    :global(.page-container) {
        margin: 15vh 0 0 0;
        text-align: center;
    }

    .loading-header {
        font-size: 4em;
        margin-bottom: 0.25em;
    }

    :global(.mdc-dialog) {
        display: none;
    }

    :global(.mdc-button) {
        font-weight: normal !important;
    }

    :global(.mdc-button.mdc-ripple-upgraded--background-focused:before, .mdc-button:not(.mdc-ripple-upgraded):focus::before) {
        opacity: 0 !important;
        transition-duration: 0 !important;
    }

    :global(input[type="checkbox"]) {
        height: 1.25em;
        width: 1.25em;
    }

    .pbar_container {
        margin: auto;
        width: 15em;
        height: 15em;
        position: relative;
    }

    :global(.progressbar-text) {
        font-size: 2em;
        color: black !important;
    }
</style>

<svelte:head>
	<title>Bulk Portfolio Document Upload</title>
</svelte:head>

<!-- Straigthforward structure, if/else blocks based on the page name which 
     gets set at various points throughout the application -->
{#if $pageName === "landing"}
    <svelte:component this={LandingPage} bind:columns/>
{:else if $pageName === "selection"}
    <svelte:component
        this={SelectionPage}
        {columns}
        bind:vendorValue
        bind:vendorValueName
        bind:noObjectsMessage
        on:click={toPage} />
{:else if $pageName === 'upload'}
    {#if $docTypesAndVendors.docTypes === undefined}
        <h1>WHY</h1>
    {:else}
    <svelte:component 
        this={UploadPage} 
        {columns}
        {vendorValue}
        {vendorValueName}
        selected={getSelected()}
        on:click={toPage}/>
    {/if}
{:else if $pageName === "loading"}
    <div class="page-container" id="loading-page-container">
        <h1 class="loading-header">Uploading documents...</h1>
        <div class="pbar_container" id="pbar_container"/>
    </div>        
{:else if $pageName === "success"}
    <svelte:component this={SuccessPage} />
{:else if $pageName === "no objects"}
    <svelte:component this={NoObjectsPage} bind:noObjectsMessage/>
{/if}
<svelte:component this={AlertDialog} class="alert-dialog" title="Upload Error" bind:dialog={alert} bind:message={uploadMessage}/>
