<script>
    import { pageName, objectType, bulkPortfolio } from "../../stores";
    
    export let columns;

    /* Sets the columns based on the selected upload type.
     * Columns must have the following 4 properties:
     *        display: the text that will be displayed in the header
     *       dataName: the label used for class names and styles (almost always redundant)
     *     queryField: the SalesForce API name for the column
     *       dataType: self-explanatory
     */
    function onClick(event) {
       $objectType = event.target.innerHTML.toLowerCase();
        if ($objectType === "jobs") {
            columns = [
                {
                    display: "",
                    dataName: "checked",
                    queryField: "checked",
                    dataType: "bool",
                },
                {
                    display: "ID",
                    dataName: "Id",
                    queryField: "Id",
                    dataType: "string",
                },
                {
                    display: "Property Record ID",
                    dataName: "Property__c",
                    queryField: "Property__c",
                    dataType: "string",
                },
                {
                    display: "Job or Order Number",
                    dataName: "Name",
                    queryField: "Name",
                    dataType: "string",
                },
                {
                    display: "Property ID",
                    dataName: "Property_ID_text__c",
                    queryField: "Property_ID_text__c",
                    dataType: "string",
                },
                {
                    display: "Full Address",
                    dataName: "Property_Address_text__c",
                    queryField: "Property_Address_text__c",
                    dataType: "string",
                },
                {
                    display: "Vendor",
                    dataName: "Vendor_Contact__c",
                    queryField: "Vendor_Contact__c",
                    dataType: "string"
                },
                {
                    display: "Original Approved Cost",
                    dataName: "Original_Approved_Cost__c",
                    queryField: "Original_Approved_Cost__c",
                    dataType: "currency"
                },
                {
                    display: "Draw Number",
                    dataName: "Draw_Number__c",
                    queryField: "Draw_Number__c",
                    dataType: "int"
                }
            ];
        }
        else if ($objectType === "properties") {
            columns = [
                {
                    display: "",
                    dataName: "checked",
                    queryField: "checked",
                    dataType: "bool",
                },
                {
                    display: "ID",
                    dataName: "Id",
                    queryField: "Id",
                    dataType: "string",
                },
                {
                    display: "Property ID",
                    dataName: "Name",
                    queryField: "Name",
                    dataType: "string",
                },
                {
                    display: "Full Address",
                    dataName: "Full_Address__c",
                    queryField: "Full_Address__c",
                    dataType: "string",
                },
                {
                    display: "Market",
                    dataName: "Market__c",
                    queryField: "Market__r.Name",
                    dataType: "string",
                },
                {
                    display: "Status",
                    dataName: "Status__c",
                    queryField: "Status__c",
                    dataType: "string",
                },
                {
                    display: "Substatus",
                    dataName: "Substatus__c",
                    queryField: "Substatus__c",
                    dataType: "string",
                }
            ];
        }
        pageName.set("selection");
    }
</script>

<style>
    .page-container {
        margin: 15vh auto 0 auto;
        width: 50vw;
        box-shadow: inset 0 0px 5px 0px #00000052;
        border-radius: 2em;
    }

    .header {
        padding: 2em 0;
        background-color: #00234e;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }

    h1 {
        font-size: 4em;
        color: white;
        margin: 0;
        padding: 0;
    }

    .ui-container {
        padding: 4em 0;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
        box-shadow: inset 0 0px 5px 0px #00000052;
    }

    h2 {
        font-size: 2.25em;
        margin: 0;
    }

    .btn-container {
        margin-top: 4em;
    }

    button {
        width: 15vw;
        height: 10vh;
        font-size: 2em;
    }

    span {
        margin: 0 1em;
        font-size: 2.25em;
    }
</style>

<div class="page-container landing">
    <div class="header">
        <h1>Bulk Portfolio Document Upload</h1>
    </div>
    <div class="ui-container">
        <h2>Upload documents for {$bulkPortfolio["name"]}</h2>
        <div class="btn-container">
            <button class="properties-btn" on:click={onClick}>Properties</button>
            <span>or</span>
            <button class="jobs-btn" on:click={onClick}>Jobs</button>
        </div>
    </div>
</div>
