<script>
    import { objectType, pageName } from "../../stores";

    export let noObjectsMessage;

    function onClick(event) {
        pageName.set("landing");
        objectType.set("");
    }
</script>

<style>
    h1 {
        font-size: 4em;
        margin-bottom: 0.25em;
    }

    i {
        color: #db1d1d;
        font-size: 4em;
    }

    p {
        font-size: 1.5em;
        margin: 0.25em 0;
    }

    .btn-container {
        margin-top: 4em;
    }

    button {
        width: 15vw;
        height: 10vh;
        font-size: 2em;
    }
</style>

<div class="page-container">
    <h1>No {noObjectsMessage === undefined ? $objectType : noObjectsMessage} found...</h1>
    <i class="fa fa-times-circle fa-10x"></i>
    <p>Please make sure this bulk portfolio has associated {noObjectsMessage === undefined ? $objectType : noObjectsMessage} then try again.</p>
    <div class="btn-container">
        <button class="back-btn" on:click={onClick}>Back</button>
    </div>
</div>