<script>
    import { 
        mainStore,
        docTypesAndVendors,
        USE_UAT,
        pageName,
        objectType,
        bulkPortfolio,
        GET_PROPERTIES_URL,
        GET_DOC_TYPES_AND_VENDORS_URL } from "../../stores";

    import DataFrame from "../DataFrame.svelte";
    import AlertDialog from '../dialogs/AlertDialog.svelte';
    import Spinner from '../Spinner.svelte';

    let alert;
    let message;

    export let columns;

    export let vendorValue;
    export let vendorValueName;

    export let noObjectsMessage;
    
    // Hacky way to get the doc types and
    // vendors before the elements are rendered
    async function getPreMount() {
        let data = getObjects();
        docTypesAndVendors.set(await getDocTypesAndVendors(await data));
    }

    // Gets the properties/jobs from HWX via a request
    // to the API Gateway get_objects endpoint
    async function getObjects() {
        if ($mainStore.length !== 0) {
            return $mainStore;
        }
        
        let fetchProps = {
            method: "POST",
            statusCode: 200,
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json",
            },
            body: JSON.stringify({
                objectType: $objectType,
                columns: columns,
                bulkPortfolioId: $bulkPortfolio["id"],
                uat: $USE_UAT,
            }),
            mode: "cors",
        };

        let response = await fetch($GET_PROPERTIES_URL, fetchProps);
        let result = await response.json();

        if (result.statusCode === 200) {
            let objects = JSON.parse(result.body);
            for (let i = 0; i < objects.objectList.length; i++) {
                objects.objectList[i].index = i;
            }
            
            console.log(objects);
            mainStore.set(objects.objectList);

            return objects.objectList;
        }

        console.log(`No ${$objectType} found.`)
        pageName.set("no objects")
        return null;
    }

    // Gets the document types and vendors from HWX
    // via the API Gateway doctypes and vendors endpoint
    async function getDocTypesAndVendors(data) {
        // If we've already fetched doc types and vendors, return them
        if ($docTypesAndVendors.docTypes !== undefined) {
            return $docTypesAndVendors;
        }
        console.log("Getting document types and vendors...");
        let propertyId = $objectType == "jobs" ? data[0].Property_ID_text__c : data[0].Name;

        let fetchProps = {
            method: "POST",
            statusCode: 200,
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json",
            },
            body: JSON.stringify({
                propertyId: propertyId,
                uat: $USE_UAT,
            }),
            mode: "cors",
        };

        let response = await fetch($GET_DOC_TYPES_AND_VENDORS_URL, fetchProps);
        let result = await response.json();

        let objects = JSON.parse(result.body);
        console.log("Doc types and vendors:");
        console.log(objects);

        // Check for vendors returning empty
        if (objects.vendors.length === 0) {
            noObjectsMessage = "vendors";
            pageName.set("no objects");
            mainStore.set([]);
            return null;
        }
        else {
            // Set vendor to Internal User, should be only option
            vendorValue = objects.vendors.find(v => v.Contact_Name__c === "Internal User");
            try {
                vendorValueName = vendorValue.Contact_Name__c; 
            }
            catch { 
                vendorValue = objects.vendors[0];
                vendorValueName = vendorValue.Contact_Name__c;
            }
        }

        return objects;
    }

    // Gets the selected properties/jobs, sets their indexes
    function getSelected() {
        let selected = $mainStore.filter((p) => p.checked);
        for (let i = 0; i < selected.length; i++) selected.index = i;
        return selected;
    }

    // App navigation handler
    function onClick(event) {
        if (event.target.innerHTML === "Next") {
            if (getSelected().length === 0) {
                message = `Please select 1 or more ${$objectType}.`;
                alert.open();
            }
            else pageName.set("upload");
        }
        else {
            mainStore.set([]);
            pageName.set("landing");
        }
    }
</script>

<style>
    .loading-header {
        font-size: 4em;
    }

    .selection-header {
        font-size: 4em;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0.5em 0;
    }

    p {
        margin: -1.5em 0 0 0;
        font-weight: bold;
        font-size: 1.5em;
    }

    .page-container :global(.wrapper) {
        margin: 2em auto;
    }

    .btn-container {
        width: calc(100vw - 4em);
        height: auto;
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 0;
    }

    button {
        margin: 1.25em auto;
        width: 200px;
        height: 75px;
        font-size: 26px;
    }
</style>

<!-- As mentioned previously, this is a sort of hacky way to show the loading 
     page while waiting for various promises to resolve -->
{#await getPreMount()}
    <div class="page-container">
        <h1 class="loading-header">Loading {$objectType}...</h1>
        <Spinner />
    </div>
{:then value}
    <h1 class="selection-header">Please select the {$objectType} that share the document(s)</h1>
    {#if $USE_UAT}
        <p><i>*** This is data from UAT, Bulk Portfolio: {$bulkPortfolio["name"]} ***</i></p>
    {/if}
    <svelte:component this={DataFrame} {columns} data={$mainStore} />
    <div class="btn-container">
        <button class="back-btn" on:click={onClick}>Back</button>
        <button class="next-btn" on:click={onClick}>Next</button>
    </div>
{/await}
<svelte:component this={AlertDialog} title="Hmm..." bind:dialog={alert} bind:message/>
