<style>
    h1 {
        font-size: 4em;
        margin-bottom: 0.25em;
    }

    i {
        color: #1ddb4f;
        font-size: 4em;
    }

    p {
        font-size: 1.5em;
        margin: 0.25em 0;
    }
</style>

<div class="page-container">
    <h1>Upload Complete!</h1>
    <i class="fa fa-check-circle-o fa-10x"></i>
    <p>You may now exit this window.</p>
</div>
