//
// MDC Theme
//

@import "@material/theme/color-palette";

// Svelte Colors!
$mdc-theme-primary: rgba(94, 202, 80, 0.829);
$mdc-theme-secondary: #b5e69f;
//$mdc-theme-button: #04B404;
// Other Svelte color: #40b3ff

$mdc-theme-background: rgb(102, 46, 155);
$mdc-theme-surface: rgb(252, 252, 252);

$mdc-theme-error: $material-color-red-900;