<script>
    import { createEventDispatcher } from "svelte";
    const dispatch = createEventDispatcher();

    import { mainStore } from '../stores';

    export let checkbox = null;
    export let checked = false;
    export let isHeader = false;

    function onChange() {
        checkbox.checked = checkbox.checked;
        if (isHeader) {
            $mainStore.forEach(p => p.checked = this.checked);
            mainStore.set($mainStore);
        }
        dispatch("check", { checked: checkbox.checked });
    }
</script>

<style>
    td {
        text-align: center;
        width: 3% !important;
    }

    th {
        text-align: center !important;
        width: 3.05% !important;
    }

    @media (max-width: 1400px) {
        td {
            width: 4% !important;
        }

        th {
            width: 4.05% !important;
        }
    }
</style>

{#if isHeader}
    <th class="checked-header">
        <input class="header-checkbox" type="checkbox" bind:this={checkbox} checked={$mainStore.every(p => p.checked)} on:change={onChange}/>
    </th>
{:else}
    <td class="checkbox-data-cell" id={$$props.id}>
        <input 
            type="checkbox" bind:this={checkbox} 
            bind:checked={checked} 
            on:change={onChange} />
    </td>
{/if}
