<script>
    /* This is the main table element used to display jobs/properties
     * throughout the application
     */

    import { onMount } from 'svelte';
    import currency from 'currency.js';

    import { mainStore, objectType } from "../stores";

    import HeaderCell from "./HeaderCell.svelte";
    import DataRow from "./DataRow.svelte";

    export let page = "selection";
    export let columns = [];
    export let data = [];
    let allChecked = false;

    let sorted = {};

    // When initialized, none of the cols are sorted
    onMount(async () => {
        for (let col of columns)
            sorted[col.dataName] = false;
    });

    // Function that (un)sorts a column when the header is clicked
    function onHeaderClick(event) {
        let col = event.detail.col;
        let shouldSort = event.detail.sorted;
        let asc = event.detail.asc;

        // Unsorts all other columns
        for (let c of columns) {
            if (sorted[c.dataName] && c.dataName !== col.dataName) {
                sorted[c.dataName] = false;
            }
        }

        // Sorting logic based on asc/desc and column data type
        if (shouldSort) {
            if (asc) {
                if (col.dataType === "date")
                    data.sort((a, b) => new Date(a[col.dataName]) - new Date(b[col.dataName]));
                else if (col.dataType === "int")
                    data.sort((a, b) => parseInt(a[col.dataName]) - parseInt(b[col.dataName]));
                else if (col.dataType === "currency")
                    data.sort((a, b) => currency(a[col.dataName]) - currency(b[col.dataName]));
                else
                    data.sort((a, b) => a[col.dataName] > b[col.dataName] ? 1 : (a[col.dataName] < b[col.dataName] ? -1 : 0));
            }
            else {
                if (col.dataType === "date")
                    data.sort((a, b) => new Date(b[col.dataName]) - new Date(a[col.dataName]));
                else if (col.dataType === "int")
                    data.sort((a, b) => parseInt(b[col.dataName]) - parseInt(a[col.dataName]));
                else if (col.dataType === "currency")
                    data.sort((a, b) => currency(b[col.dataName]) - currency(a[col.dataName]));
                else
                    data.sort((a, b) => a[col.dataName] < b[col.dataName] ? 1 : (a[col.dataName] > b[col.dataName] ? -1 : 0));
            }
        }

        // Unsorts the column if !shouldSort
        else data.sort((a, b) => a.index - b.index);
        data = data;
    }

    // Selects/deselects all items when the header checkbox is clicked
    function toggleAllChecked(event, header) {
        if (header) {
            allChecked = event.detail.allChecked;
            for (let i = 0; i < $mainStore.length; i++) {
                if ($mainStore[i].checked !== allChecked) {
                    $mainStore[i].checked = allChecked;
                    data[i].checked = allChecked;
                }
            }
        } 
        else {
            allChecked = $mainStore.every(p => p.checked);
        }
    }
</script>

<style>
    /*******************************/
    /************ Table ************/
    /*******************************/
    table {
        table-layout: auto;
        /* width: calc(100vw - 4em); */
        border-collapse: collapse;
        font-size: 1.5em;
    }

    /********************************/
    /************ Header ************/
    /********************************/
    thead {
        background: #132da0;
        color: white;
        font-weight: bold;
        width: -webkit-fill-available !important;
        border-top: 2px solid transparent;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    thead tr {
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
    }

    thead :global(th) {
        text-align: left;
        padding: 2px 1px 5px 1px;
        user-select: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    :global(.upload > tr > th:first-child, .upload > tr > td:first-child) {
        padding-left: 1em;
    }

    /*******************************/
    /************ Tbody ************/
    /*******************************/
    tbody {
        display: block;
        height: calc(100vh - 18em);
        overflow-y: overlay;
        overflow-x: hidden;
        border-left: 2px solid #cccccc;
        border-bottom: 2px solid #cccccc;
        border-right: 2px solid #cccccc;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    /***********************************/
    /************ Scrollbar ************/
    /***********************************/
    tbody::-webkit-scrollbar {
        background: transparent;
        width: 10px;
    }

    tbody::-webkit-scrollbar-track {
        background: #d8d8d852;
        -webkit-border-radius: 30px;
        border-radius: 30px;
    }

    tbody::-webkit-scrollbar-thumb {
        background: #cacaca52;
        -webkit-border-radius: 30px;
        border-radius: 30px;
    }

    tbody:hover::-webkit-scrollbar-track {
        background: #d8d8d877;
        -webkit-border-radius: 30px;
        border-radius: 30px;
    }

    tbody:hover::-webkit-scrollbar-thumb {
        background: #cacacab6;
        -webkit-border-radius: 30px;
        border-radius: 30px;
    }

    /******************************/
    /************ Rows ************/
    /******************************/
    thead, tbody :global(.df-row) {
        display: table;
        table-layout: fixed;
    }

    tbody :global(.df-row) {
        width: 100%;
    }

    .object-table-body :global(.df-row, .df-row > *) {
        background-color: transparent;
    }

    .object-table-body :global(.df-row:hover) {
        background-color: #d1f0ffb0 !important;
        border-bottom-left-radius: 0;
    }

    :global(.jobs.Property_ID_text__c) {
        width: 12% !important;
    }

    :global(.properties.Name) {
        width: 15% !important;
        padding-left: 1em !important;
    }

    :global(.Market__c) {
        width: 15% !important;
    }

    :global(.Status__c) {
        width: 18% !important;
    }

    :global(.jobs.Vendor_Contact__c) {
        width: 13% !important;
    }

    :global(.Id, .Draw_Number__c) {
        width: 10% !important;
    }

    :global(.jobs.Name) {
        width: 15% !important;
    }

    :global(.jobs.Property_Address_text__c, .properties.Full_Address__c) {
        width: 30% !important;
    }

    /**************************************/
    /************ Media Screen ************/
    /**************************************/
    @media (max-width: 1400px) {
        :global(.jobs.Name) {
            width: 16% !important;
        }

        :global(.jobs.Property_Address_text__c) {
            width: 33% !important;
        }

        :global(.jobs.Vendor_Contact__c) {
            width: 12% !important;
        }

        :global(.jobs.Draw_Number__c) {
            width: 10% !important;
        }
    }
</style>

<!-- Structured as a table with header row -->
<table class="{page} {$objectType} object-table">
    <thead class="{page} {$objectType} object-table-header">
        <tr class="{page} {$objectType} header-row">
            <!-- If we're on the selection page, include the checkbox column -->
            {#each page === "selection" ? columns : columns.slice(1, columns.length) as column}
                {#if column.dataName !== "Property__c" && column.dataName !== "Id"}
                    <svelte:component
                        this={HeaderCell}
                        class="{$objectType} {column.dataName} {column.dataType === 'date' ? 'date-cell' : ''} header"
                        {column}
                        bind:sorted={sorted[column.dataName]}
                        bind:allChecked
                        on:click={onHeaderClick}
                        on:check={(e) => toggleAllChecked(e, true)} />
                {/if}
            {/each}
        </tr>
    </thead>
    <!-- Dynamically set the height of the table based on the page -->
    <tbody class="{page} {$objectType} object-table-body" style={page !== 'upload' ? 'height: calc(100vh - 18em);' : 'height: calc(100vh - 30em);'}>
        {#each data as p}
            <svelte:component
                this={DataRow}
                class="{page} df-row"
                {page}
                {$objectType}
                item={p}
                {columns}
                bind:checked={p.checked}
                on:check={(e) => toggleAllChecked(e, false)} />
        {/each}
    </tbody>
</table>
