<script>
    import { createEventDispatcher } from "svelte";
    import { objectType } from '../stores'
    const dispatch = createEventDispatcher();

    import CheckboxCell from './CheckboxCell.svelte';
    import DataCell from './DataCell.svelte';
    
    export let page = "selection";
    export let item;
    export let columns;
    export let checked = false;

    let dr;

    const checkedStyle = 'background-color: #ededed !important; border-bottom: 1px solid transparent; border-radius: 0;'

    function handleCheck(event) {
        checked = event.detail.checked;
        dispatch("check", { checked: checked });
    }
</script>

<style>
    .df-row :global(td) {
        width: auto;
    }

    .df-row {
        height: 2em;
        border-bottom: 1px solid #eeeeee;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-collapse: collapse;
    }
</style>

<tr 
    class={$$props.class} id="{item.name}-row" 
    checked={item.checked} 
    bind:this={dr}
    style={item.checked ? checkedStyle : 'background-color: transparent;'}>
    {#each columns as { display, dataName, dataType }}
        {#if dataName === "checked"}
            {#if page === "selection"}
                <svelte:component 
                    this={CheckboxCell} 
                    id="{item.name}-row-checkbox-data-cell"
                    bind:index={item.index} 
                    on:check={handleCheck} 
                    bind:checked={checked}/>
            {/if}
        {:else if dataName !== "Property__c" && dataName !== "Id"}
            <svelte:component 
                this={DataCell} 
                class="{$objectType} {dataName} {dataType === 'date' ? 'date-cell' : ''} data-cell" 
                value={item[dataName] === null ? "" : item[dataName]} />
        {/if}
    {/each}
</tr>