<script>
    import { createEventDispatcher } from "svelte";
    const dispatch = createEventDispatcher();

    import CheckboxCell from "./CheckboxCell.svelte";

    export let column;
    export let allChecked = false;

    // export let index;
    export let sorted = false;
    let ascending = true;

    function onCheck(event) {
        allChecked = event.detail.checked;
        dispatch("check", { allChecked: allChecked });
    }

    function onClick() {
        if (sorted) {
            if (ascending) ascending = false;
            else sorted = false;
        }
        else {
            sorted = true;
            ascending = true;
        }
        dispatch("click", {col: column, sorted: sorted, asc: ascending });
    }
</script>

<style>
    th:hover {
        background-color: #0f268a;
    }

    th:active {
        background-color: #112b9c;
    }
</style>

{#if column.dataName === "checked"}
    <CheckboxCell isHeader={true} index={"header"} bind:checked={allChecked} on:check={onCheck} />
{:else}
    <th class={$$props.class} id="{column.dataName} header-cell" on:click={onClick}>
        {column.display}
        {#if sorted}
            <i class={ascending ? "fa fa-fw fa-sort-asc" : "fa fa-fw fa-sort-desc"}/>
        {/if}
    </th>
{/if}
