<script>
    import Dialog, { Title, Content, Actions } from '@smui/dialog';
    import Button, { Label } from '@smui/button';

    export let title;
    export let message;
    export let dialog;
    let ok;
</script>

<style>
    :global(.mdc-dialog.alert-dialog .mdc-dialog__title) {
        color: black !important;
        font-weight: bold !important;
    }

    :global(.mdc-dialog.alert-dialog .mdc-dialog__content) {
        color: black !important;
    }

    :global(.alert-dialog .mdc-button:not(:disabled)) {
        color: white !important;
    }

    :global(.alert-dialog .mdc-button:after,
            .alert-dialog .mdc-button:before,
            .alert-dialog .mdc-button:not(:disabled)) {
        background-color: #132da0 !important;
    }

    :global(.mdc-ripple-upgraded--background-focused::before) {
        opacity: 0;
    }

    :global(.alert-dialog .mdc-button:hover) {
        background-color: #1839cd !important;
    }
</style>

<Dialog class="alert-dialog" bind:this={dialog} aria-labelledby="dialog-title" aria-describedby="dialog-content">
    <Title id="dialog-title">{title}</Title>
    <Content id="dialog-content">
        {@html message}
    </Content>
    <Actions>
        <Button on:click={() => ok = true}>
            <Label>Ok</Label>
        </Button>
    </Actions>
</Dialog>