<script>
    import { createEventDispatcher } from "svelte";

    import Dialog, { Title, Content, Actions, InitialFocus } from '@smui/dialog';
    import Button, { Label } from '@smui/button';

    export let title;
    export let message;
    export let dialog;
    export let response;

    function closeHandler(e) {
        switch (e.detail.action) {
            case "yes":
                response = true;
                break;
            case "no":
                response = false;
                break;
            default:
                response = false;
                break;
        }
    }
</script>

<style>
    :global(.mdc-dialog .mdc-dialog__title) {
        color: black;
        font-weight: bold !important;
    }

    :global(.mdc-dialog .mdc-dialog__content) {
        color: black;
    }

    :global(.mdc-button.yes-btn:not(:disabled)) {
        color: white;
    }

    :global(.mdc-button.no-btn:not(:disabled)) {
        color: black;
    }

    :global(.mdc-button.yes-btn:after, 
            .mdc-button.yes-btn:before, 
            .mdc-button.yes-btn:not(:disabled)) {
        background-color: #132da0;
    }

    :global(.mdc-button.no-btn:after,
            .mdc-button.no-btn:before,
            .mdc-button.no-btn:not(:disabled)) {
        background-color: #f0f0f0;
    }

    :global(.mdc-ripple-upgraded--background-focused::before) {
        opacity: 0;
    }

    :global(.mdc-button.yes-btn:hover, .mdc-button.no-btn:hover) {
        background-color: #1839cd;
        color: white;
    }
</style>

<Dialog bind:this={dialog} on:MDCDialog:closed={closeHandler}>
    <Title class="dialog-title">{title}</Title>
    <Content class="dialog-content">
        {@html message}
    </Content>
    <Actions>
        <Button class="yes-btn" action="yes" default use={[InitialFocus]}> <!-- on:click={() => response = true}> -->
            <Label>Yes</Label>
        </Button>
        <Button class="no-btn" action="no"> <!--on:click={() => response = false}>-->
            <Label>No</Label>
        </Button>
    </Actions>
</Dialog>